# Directories
/.wordpress-org export-ignore
/.github export-ignore
/.git export-ignore
/tests export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore
/.distignore export-ignore
/README.md export-ignore
/readme.txt export-ignore
/output.log export-ignore
/DOCKER_ENV export-ignore
/docker_tag export-ignore
/phpstan.neon export-ignore
/composer.json export-ignore
/composer.json export-ignore